<div class="column">
  <div class="moods_main">
    <div class="row column text-center">
      <h2>Moods</h2>
    </div>

    <div class="moods_list">
      <div class="row small-up-2 medium-up-4 large-6 text-center">
        <% @moods.each do |mood| %>
          <div class="indmood">
          <%= erb(:'moods/moods_bar', {locals: {mood: mood}}) %>
          </div>
        <% end %>
      </div>  
    </div>
    <hr>
    
    <div class="featured_playlists">
      <div class="row large-up-2 text-center">
        <div class="feat">
          <div class="infeat">
            <a href="/playlists/<%= @cbb.id %>">
              <img class="thumbnail" src="<%= @cbb.image %>">
            </a>
          </div>
        </div>
        <div class="feat">
          <div class="infeat">
            <a href="/playlists/<%= @sysk.id %>">
            <img class="thumbnail" src="<%= @sysk.image %>">
            </a>
          </div>
        </div>
        <div class="feat">
          <div class="infeat">
            <a href="/playlists/<%= @sr.id %>">
              <img class="thumbnail" src="<%= @sr.image %>">
            </a>
          </div>
        </div>
        <div class="feat">
          <div class="infeat">
            <a href="/playlists/<%= @sc.id %>">
              <img class="thumbnail" src="<%= @sc.image %>">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  




