<a href="/playlists/<%= playlist.id %>/ <%= playlist.podcasts.first.id %>">
  <div class="play_indv">
    <img class="thumbnail" src="<%= playlist.image %>">
    <h4><%= playlist.title %></h3>
    <h6><%= playlist.description %></h5>
  </div>
</a>


